:root {
  --content-width: 1200px;
  --grid-cols: 30;
  --grid-rows: 16;
  --cell-width: calc(var(--content-width) / var(--grid-cols));

  --light-gray: #aaa;
  --lighter-gray: #bbb;
  --dark-gray: #555;

  --flagged-color: teal;
  --mine-color: firebrick;
  --flagged-mine-color: purple;
  --false-mine-color: black;
  --exploded-color: #fd0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding-bottom: 1em;
}

header {
  text-align: center;
  padding: 1em;
  background-color: gray;
  font-size: 1.5rem;
}

h1, h2, h3 {
  text-align: center;
  & a {
    &:visited {
      color: black;
    }
    color: black;
    text-decoration: none;
  }
}

.content {
  max-width: var(--content-width);
  margin: 2em auto;
}

.toolbar {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  background-color: #777;

  & button {
    font-size: 1.25em;
    padding: 1ch;
  }
}

.digital-display {
  color: firebrick;
  background-color: black;
  padding: 5px;

  font-size: 1.5rem;
  font-weight: 999;
  font-family: monospace;
  text-align: right;
  min-width: 5ch;
}

#minefield {
  height: calc(var(--cell-width) * var(--grid-rows));
  width: calc(var(--cell-width) * var(--grid-cols));
  margin-bottom: 1em;
  background-color: gray;
}

.cell-row {
  display: flex;

  & button {
    flex: 1;
    display: block;
    height: var(--cell-width);
    width: var(--cell-width);
    border: 1px solid var(--light-gray);
    font-weight: 777;
    font-size: calc(0.7 * var(--cell-width));
    /* text-shadow: 1px 1px black; */

    cursor: pointer;

    &:hover:not(:disabled, .flagged) {
      background-color: white;
    }

    &:is(.flagged) {
      background-color: var(--flagged-color);
    }

    &:disabled {
      cursor: default;
      color: black;

      &:is(.flagged) {
        background-color: var(--false-mine-color);
      }

      &:is(.has-mine) {
        background-color: var(--mine-color);
        &:is(.flagged) {
          background-color: var(--flagged-mine-color);
        }
      }
    }
  }
}

fieldset {
  padding: .5em;
}

.legend {
  display: flex;
  justify-content: space-between;
  gap: 1em;

  & > li {
    flex: 1;
    list-style: none;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    color: white;
    box-shadow: 2px 2px black;

    &.flag {
      background-color: var(--flagged-color);
    }
    &.mine {
      background-color: var(--mine-color);
    }
    &.flagged-mine {
      background-color: var(--flagged-mine-color);
    }
    &.false-mine {
      background-color: var(--false-mine-color);
    }
    &.exploded {
      background-color: var(--exploded-color);
      color: black;
    }
  }
}

#leaderboard {
  width: 50%;
  min-width: fit-content;
  margin: 1em auto;
  overflow: clip;

  border-radius: .5em;
  background-color: var(--light-gray);

  font-size: 1.2rem;

  & high-score {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid var(--dark-gray);

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(odd) {
      background-color: var(--lighter-gray);
    }

    & .name {
      flex: 1;
      margin-left: 2ch;
    }
  }
}
