:root {
  --content-width: 1200px;
  --grid-cols: 30;
  --grid-rows: 16;
  --cell-width: calc(var(--content-width) / var(--grid-cols));

  --light-gray: #aaa;

  --flagged-color: teal;
  --mine-color: firebrick;
  --flagged-mine-color: purple;
  --false-mine-color: black;
  --exploded-color: #fd0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding-bottom: 1em;
}

header {
  text-align: center;
  padding: 1em;
  background-color: gray;
  font-size: 2rem;
  margin-bottom: 1em;
}

h1 {
  text-align: center;
}

.content {
  max-width: var(--content-width);
  margin: auto;
}

#minefield {
  height: calc(var(--cell-width) * var(--grid-rows));
  width: calc(var(--cell-width) * var(--grid-cols));
  margin: 1em auto;
  background-color: gray;
}

.cell-row {
  display: flex;

  & button {
    flex: 1;
    display: block;
    height: var(--cell-width);
    width: var(--cell-width);
    border: 1px solid var(--light-gray);
    font-weight: 777;
    font-size: calc(0.7 * var(--cell-width));
    /* text-shadow: 1px 1px black; */

    cursor: pointer;

    &:hover:not(:disabled, .flagged) {
      background-color: white;
    }

    &:is(.flagged) {
      background-color: var(--flagged-color);
    }

    &:disabled {
      cursor: default;
      color: black;

      &:is(.flagged) {
        background-color: var(--false-mine-color);
      }

      &:is(.has-mine) {
        background-color: var(--mine-color);
        &:is(.flagged) {
          background-color: var(--flagged-mine-color);
        }
      }
    }
  }
}

.legend {
  display: flex;
  justify-content: space-between;
  gap: 1em;

  & > li {
    flex: 1;
    list-style: none;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    color: white;
    box-shadow: 2px 2px black;

    &.flag {
      background-color: var(--flagged-color);
    }
    &.mine {
      background-color: var(--mine-color);
    }
    &.flagged-mine {
      background-color: var(--flagged-mine-color);
    }
    &.false-mine {
      background-color: var(--false-mine-color);
    }
    &.exploded {
      background-color: var(--exploded-color);
      color: black;
    }
  }
}
