:root {
  --content-width: 800px;
  --cell-width: 25px;
  --grid-cols: 30;
  --grid-rows: 16;

  --light-gray: #aaa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding-bottom: 1em;
}

header {
  text-align: center;
  padding: 1em;
  background-color: gray;
  font-size: 2rem;
  margin-bottom: 1em;
}

h1 {
  text-align: center;
}

.content {
  max-width: var(--content-width);
  margin: auto;
}

#minefield {
  height: calc(var(--cell-width) * var(--grid-rows));
  width: calc(var(--cell-width) * var(--grid-cols));
  margin: auto;
  background-color: gray;
}

.cell-row {
  display: flex;

  & button {
    flex: 1;
    display: block;
    height: var(--cell-width);
    width: var(--cell-width);
    border: 1px solid var(--light-gray);

    cursor: pointer;

    &:hover:not(:disabled) {
      background-color: white;
    }

    &:disabled {
      cursor: default;
      color: black;
    }
  }
}
